body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 15px;
    padding: 15px;
    text-align: center;
    width: 200px;
}
.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.card a {
    text-decoration: none;
    color: #007BFF;
}
.card a:hover {
    text-decoration: underline;
}

header {
    background-color: #3d85c6;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    position: relative;
}
.footer-logo img {
    max-width: 100px; /* Adjust the size of the logo */
}
.footer-address {
    text-align: center;
}
